<header class="header">
    <nav class="header__nav">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">books Shop</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {{#if isHome}}
                    <li class="active">
                        <a href="/">Home</a>
                    </li>
                {{else}}
                    <li>
                        <a href="/">Home</a>
                    </li>
                {{/if}}
                {{#if isbooks}}
                    <li class="active">
                        <a href="/books">books</a>
                    </li>
                {{else}}
                    <li>
                        <a href="/books">books</a>
                    </li>
                {{/if}}
                {{#if isAdd}}
                    <li class="active">
                        <a href="/add">Add book</a>
                    </li>
                {{else}}
                    <li>
                        <a href="/add">Add book</a>
                    </li>
                {{/if}}
                {{#if iscart}}
                    <li class="active">
                        <a href="/cart">cart</a>
                    </li>
                {{else}}
                    <li>
                        <a href="/cart">cart</a>
                    </li>
                {{/if}}
            </ul>
        </div>
    </nav>
</header>
