.header__nav {
  padding: 0 20px;
}
.price {
  font-size: 2rem;
}
.book {
  text-align: center;
}
.book .price {
  font-size: 2.5rem;
}
.cart-action.action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.form-add {
  margin-bottom: 20px;
}
